body {
  margin: 0;
  background-color: #F9FFF8;
  color: #000000;
  font-family: "Lato", sans-serif;
}

.mrgn {
  margin: 20px 10px;
}

header {
  color: #87CEEB;
  text-align: center;
}

header h1{
  font-weight: 700;
  font-size: 35px;
}

h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}

.subheader {
  color: #00000050;
  font-weight: 600;
  font-size: 16px;
}

.catalogue {
  margin-top: 15px;
}

.game-card {
  margin-bottom: 20px;
  width: 100%;
}

.game-card img {
  width: 110%;
  height: 110%;
  margin-bottom: 2px;
  object-fit: cover;
  border-radius: 8px;
}


.game-details p {
  color: #00000050;
  font-size: 14px;
}

.game-details h5 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

footer {
  margin-top: 15%;
  text-align: center;
  font-weight: bold;
}

.menu-bar {
  background-color: #F9FFF8;
  color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}

.menu-bar img {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: auto;
}

#loader-overlay {
  z-index: 9999;
}

/* GAME DETAILS VIEW */

.game-details-header {
  font-size: 20px;
  font-weight: bold;
}

.game-details-carousel-indicators {
  justify-content: space-between;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10px
}

.game-details-title {
  font-size: 1.4rem;
}

.game-details-container h3 {
  font-size: 0.77rem;
}

.game-details-developer,
.game-details-description {
  font-size: 0.9rem;
}

.game-details-container h3 {
  font-weight: bold;
}

.game-details-description {
  color: #828282;
  font-weight: normal;
  text-align: justify;
}

.search-bar {
  height: 35px;
  bottom: 35px !important;
  border: 1px solid #cccccc;
}

.search-bar:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #02a6ff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 89, 135, 0.6);
  outline: 0 none;
}



